@import url('./style/spacing.css');
@import url('./style/text.scss');

:root {
  font-family: 'Montserrat';
  font-size: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view-container{
    padding: 0 1rem 88px 1rem;
}

.wandare-full-logo{
  width: 260px;
}
