@import url('./style/spacing.css');
@import url('./style/text.scss');
@import url('./style/forms.scss');

:root {
  font-family: 'Montserrat';
  font-size: 1rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view-container{
    padding: 0 1rem 88px 1rem;
}
.view-container.min-full-height{
    min-height: 100dvh;
}

.wandare-full-logo{
  width: 260px;
}

.go-back-button{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 50;
    background: none;
    border: none;
    img{
        width: 100%;
    }
}
.go-back-button.position-fixed{
  position: fixed;
}

.go-back-button.static{
    position: static;
}

.p-absolute-centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.p-absolute-centered.width-100{
  width: 100%;
}