/* Flex Gaps */
.gap-8{
    row-gap: 0.5rem !important;
    column-gap: 0.5rem !important;
}
.gap-16{
    row-gap: 1rem !important;
    column-gap: 1rem !important;
}

/* Margins */
.no-margins{
    margin: 0 !important;
}

.m-t-4{
    margin-top: 0.25rem !important;
}
.m-t-8{
    margin-top: 0.5rem !important;
}
.m-t-16{
    margin-top: 1rem !important;
}
.m-t-24{
    margin-top: 1.5rem !important;
}
.m-t-40{
    margin-top: 2.5rem !important;
}


.m-b-4{
    margin-bottom: 0.25rem !important;
}
.m-b-8{
    margin-bottom: 0.5rem !important;
}
.m-l-8{
    margin-left: 0.5rem !important;
}
.m-l-16{
    margin-left: 1rem;
}


/* Paddings */
.p-8{
    padding: 0.5rem;
}
.p-16{
    padding: 1rem;
}
.p-y-16{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.p-x-16{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.p-y-24{
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; 
}